<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Reddits App</h3>
  <p>A simple Ionic Application for fetching and displaying Reddits website content</p>
  <ion-item>
    <b>Version:</b> 1.0.0
  </ion-item>
  <ion-item>
      <b>Developer:</b> Sivar Sarkawt
    </ion-item>
</ion-content>
