<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="setDefaults()">
    <ion-list>
      <ion-item>
          <ion-label fixed>Catagory</ion-label>
          <ion-select [(ngModel)]="catagory" name="catagory">
            <ion-option value="sports">Sports</ion-option>
            <ion-option value="food">Food</ion-option>
            <ion-option value="news">News</ion-option>
            <ion-option value="music">Music</ion-option>
            <ion-option value="funny">Funny</ion-option>
            <ion-option value="gaming">Gaming</ion-option>
            <ion-option value="art">Art</ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label fixed>Limit</ion-label>
          <ion-select [(ngModel)]="limit" name="limit">
            <ion-option value="5">5</ion-option>
            <ion-option value="10">10</ion-option>
            <ion-option value="15">15</ion-option>
            <ion-option value="20">20</ion-option>
            <ion-option value="25">25</ion-option>
          </ion-select>
      </ion-item>
      <button ion-button block type="submit">Save Changes</button>
    </ion-list>
  </form>
</ion-content>
